@{
    ViewBag.Title = "Home Page";
}

<main>
    <div id="idSalario" data-id="@Model" style="display: none;">
        <!-- El valor de idSalario está almacenado en el atributo de datos -->
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="mb-4">
            <button class="btn btn-primary rounded-pill" id="btnObtenerContenido">Obtener valor del dólar blue</button>
            <span class="badge bg-secondary" id="resultado"></span>
        </div>

        <span class="badge bg-secondary" id="sueldoTotal"></span>
    </div>



    <div class="d-flex row">
        <div class="dashboard col-md-3 col-sm-12 col-12">
            <h2>Dashboard</h2>
            <div class="pie-chart col-6">
                <!-- Aquí puedes agregar tu gráfica de pastel -->
                <canvas id="pieChart"></canvas>
            </div>
            <button class="btn btn-primary" id="verDetalleGasto" onclick="loadModalDetalle()">Ver gastos</button>
        </div>

        <div class="col-md-3 col-sm-7 col-2">
            <div class="mb-3">
                <button class="btn btn-primary rounded-pill" onclick="loadModalContent()">Agregar tipo de gasto nuevo</button>
            </div>

            <h2>Agregar Gasto</h2>
            <form action="@Url.Action("AgregarGasto", "Gasto")" method="post">
                <input type="hidden" id="salaryID" name="salaryID" value="@Model"> <!-- Campo oculto para salaryID -->

                <div class="form-group">
                    <label for="amount">Monto:</label>
                    <input type="number" id="amount" name="amount" step="0.01" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="description">Nombre:</label>
                    <input type="text" id="description" name="description" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="ExpenseTypeID">Tipo de gasto:</label>
                    <select class="form-control" id="gastoTipo" name="ExpenseTypeID">
                        <option value="">Seleccionar Tipo Gasto</option>
                        <!-- Add options here -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="ExpenseTypeID">Plataforma:</label>
                    <select class="form-control" id="dineroTipo" name="SalaryCurrenciesId">
                        <option value="">Seleccionar Plataforma</option>
                        <!-- Add options here -->
                    </select>
                </div>

                <button type="submit" class="btn btn-primary rounded-pill">Agregar Gasto</button>
            </form>
        </div>

        <div class="col-md-3 col-sm-5 col-5">
            <button class="btn btn-primary rounded-pill" onclick="loadTipoDinero()">Agregar tipo de dinero</button>
            <h2>Mi dinero</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="text-nowrap">Plataforma</th>
                        <th class="text-nowrap">Monto</th>
                    </tr>
                </thead>
                <tbody id="tablaTipoDinero">
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAgregarTipoGasto" tabindex="-1" role="dialog" aria-labelledby="modalAgregarTipoGastoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Add modal header content -->
                </div>
                <div class="modal-body" id="modalContent">
                    <!-- Contenido de la vista del tipo de gasto se cargará aquí -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalVerDetalleGasto" tabindex="-1" role="dialog" aria-labelledby="modalVerDetalleGasto" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Add modal header content -->
                </div>
                <div class="modal-detalleGastos" id="modalDetalle">
                    <!-- Contenido de la vista del tipo de gasto se cargará aquí -->
                </div>
            </div>
        </div>
    </div>


</main>

<script type="text/javascript">
        let idSalario = $('#idSalario').data('id');
    $(document).ready(function () {
        $('#btnObtenerContenido').click(function () {
            obtenerContenidoDiv();
        });

        obtenerSueldoTotal();

        $.ajax({
            url: '@Url.Action("GetAllTipoGasto", "Gasto")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
        // Código para agregar las opciones al DropDownList
        var dropdownList = $('#gastoTipo'); // Reemplaza "IdRol" con el ID del elemento DropDownList en tu vista
        console.log(data);
        // Agregar las opciones al DropDownList
        $.each(data, function (index, tipo) {
            dropdownList.append($('<option></option>').val(tipo.ExpenseTypeID).text(tipo.ExpenseTypeName));
        });
            },

            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error en la llamada AJAX: " + textStatus + ", " + errorThrown);
            }
        });

        $.ajax({
            url: '@Url.Action("GetAllTipos", "Dinero")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
        // Código para agregar las opciones al DropDownList
                var dropdownList = $('#dineroTipo'); // Reemplaza "IdRol" con el ID del elemento DropDownList en tu vista
        console.log(data);
        // Agregar las opciones al DropDownList
        $.each(data, function (index, tipo) {
            dropdownList.append($('<option></option>').val(tipo.id).text(tipo.name));
        });
            },

            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error en la llamada AJAX: " + textStatus + ", " + errorThrown);
            }
        });

        $.ajax({
            url: '@Url.Action("GetTipoBySalario", "Dinero")',
            type: 'GET',
            data: { idSalario: idSalario},
            success: function (data) {
                $("#tablaTipoDinero").empty();

                $.each(data, function (index, item) {
                    $("#tablaTipoDinero").append("<tr><td>" + item.CurrencyName + "</td><td>" + item.TotalMoney + "</td></tr>");
                });
            },
            error: function () {
                alert("Hubo un error al obtener los datos de la tabla.");
            }
        });

    });

    console.log('idSalario:', idSalario);

    //document.getElementById('verDetalleGasto').addEventListener('click', function () {
    //    console.log('Button with ID "verDetalleGasto" was clicked.');
    //    window.location.href = '/Gasto/Detalles?idSalario=' + idSalario;
    //});


    function obtenerContenidoDiv() {
        $.ajax({
            url: '/Home/ExtraerContenidoDiv',
            type: 'GET',
            success: function (data) {
                $('#resultado').html(data);
                console.log(data);
            },
            error: function (error) {
                console.error('Error al obtener el contenido del div:', error);
                $('#resultado').html('Error al obtener el contenido del div.');
            }
        });
    }

    function obtenerSueldoTotal() {
        $.ajax({
            url: '@Url.Action("GetSueldoTotal", "Salario")',
            data: { idSalario: idSalario },
            type: 'GET',
            success: function (data) {
                $('#sueldoTotal').html('SUELDO NETO $' + data);
                console.log(data);
            },
            error: function (error) {
                console.error('Error al obtener el contenido del div:', error);
                $('#resultado').html('Error al obtener el contenido del div.');
            }
        });
    }

    function loadModalContent() {
        var url = '@Url.Action("NuevoTipoGasto", "Gasto")';  // Reemplaza YourController con tu controlador

        $.get(url, function (data) {
            $('#modalContent').html(data);

            // Mostrar el modal
            $('#modalAgregarTipoGasto').modal('show');
        });
    }

    function loadModalDetalle() {
        var url = "/Gasto/Detalles?idSalario=" + idSalario;

        $.get(url, function (data) {
            $('#modalDetalle').html(data);

            // Mostrar el modal
            $('#modalVerDetalleGasto').modal('show');
        });
    }

    function loadTipoDinero() {
        var url = "/Dinero/NuevoTipoDinero?idSalario=" + idSalario;  // Reemplaza YourController con tu controlador

        $.get(url, function (data) {
            $('#modalContent').html(data);

            $('#modalAgregarTipoGasto').modal('show');
        });
    }

    $('form').submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());

        $.ajax({
            url: '@Url.Action("AgregarGasto", "Gasto")',
            type: 'POST',
            dataType: 'json',
            data: $(this).serialize(),
            success: function (response) {
                if (response === "Ok") {
                    swal("El gasto fue agregado correctamente", {
                        icon: "success",
                    }).then(() => {
                        // Redireccionar al Home
                        window.location.href = '/Home/Index?idSalario=' + data.idSalario;
                    });
                } else {
                    swal("Hubo un error en la carga", {
                        icon: "error",
                    }).then(() => {
                        // Redireccionar al Home
                        window.location.href = '/Home/Index?idSalario=' + data.idSalario;
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                swal("Hubo un error en la carga", {
                    icon: "error",
                });
            }
        });
    });

    var ctx = document.getElementById('pieChart').getContext('2d');

    $.ajax({
        url: '@Url.Action("ObtenerDatosGrafico", "Gasto")',
        type: 'GET',
        dataType: 'json',
        data: { idSalario: idSalario },
        success: function (data) {
            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: data
            });
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log("Error al obtener los datos para el gráfico: " + textStatus + ", " + errorThrown);
        }
    });
</script>